* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    scroll-behavior: smooth;
}
.navbar {
    background-color: #0b0d39;
}

.custom-background {
    background-color: #0b0d39;
    padding: 5px;
}

.top-margin {
    margin-bottom: 3rem;
}

.leftside {
    height: auto;
    width: 100%;
}

.side-item {
    font-size: 20px;
    color: blue;
    margin-right: 10px;
    margin-left: 10px;
}

.main-icon {
    border: 3px solid #1e70b9;
    border-radius: 35px;
    padding: 7%;
    background-color: #d7ecf4;
}

.icon-t {
    height: 90px;
}

.main-icon:hover {
    background-color: white;
}

.rightside {
    padding-top: 5%;
    height: auto;
    width: 100%;
}

.card {
    box-shadow: 0 7px 17px 0 rgb(23 84 116 / 18%);
}

.text {
    color: #0f8af9;
}

.left-heading {
    text-align: center;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.card-inner-heading {
    width: 100%;
    background-color: #0b0d39;
    padding: 2%;
    text-align: center;
}

.card1 {
    margin-bottom: 3%;
}

.card-inner-body {
    margin-left: 0px !important;
    padding-left: 0px !important;
    margin-top: 3%;
}

.card-inner-body-1 {
    display: flex;
    padding: 0px;
}

.line {
    margin-top: 5px;
    margin-bottom: 5px;
}

.custom-background {
    background-color: #0b0d39;
    padding: 5px;
}

@media (max-width: 768px) {
    .leftside {
        width: 100%;
    }

    .rightside {
        width: 100%;
    }

    footer {
        padding: 40px 0;
    }

    .footer-container {
        max-width: 1300px;
        margin: auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap-reverse;
    }
}

#header {
    width: 99%;
    padding: 1px;
    margin-top: 1px;
    text-align: center;
    background: inherit;
}

#content {
    width: 97%;
    padding: 15px;
    background-color: #e5e5e5;
    color: #111;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.addiv {
    margin: 15px 0;
    text-align: center;
}

.fourdiv {
    width: 25%;
    /* float: left; */
    display: inline-block;
}

.halfdiv {
    width: 50%;
    /* float: left; */
    display: inline-block;
}

label {
    display: block;
    margin: 2px;
}

#loading p {
    margin: 0;
    color: #777;
    font-size: 14px;
}

.social {
    margin: 5px 0;
}

.share-on-twitter {
    background: #41b7d8;
}

.share-on-facebook {
    background: #3b5997;
}

.share-on-googleplus {
    background: #d64937;
}

.social a:hover {
    color: #fff;
    text-shadow: none;
}

.social .button {
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 75%;
    margin-right: 4px;
    text-shadow: 0 1px 2px #333;
}

.social .scount {
    border: 1px solid #aaa;
    margin-right: 4px;
    padding: 7px 4px;
    font-size: 85%;
    background-color: #f5f5f5;
    color: #555;
}

.tablo {
    width: 90%;
    border-collapse: collapse;
    margin: 1px;
    vertical-align: top;
}

.tablo th {
    background-color: #2c8bbb;
    padding: 3px;
    color: #fff;
    text-align: center;
    border: solid 1px #ccc;
}

.tablo td {
    padding: 3px;
    text-align: center;
    border: solid 1px #ccc;
}

#footer {
    font-size: 0.8em;
    color: #0b0d39;
    padding: 1px;
    margin-top: 15px;
    text-align: center;
}

#baseresult {
    background-color: #ffffcf;
    color: #111;
    border: 1px solid #dddddd;
    line-height: 34px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 15px;
    min-height: 34px;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

h1 {
    color: #111;
    font-size: 1.6em;
    margin: 7px 2px;
}

h3 {
    margin: 15px 0 10px 0;
}

p {
    margin: 10px 0;
}

a {
    color: #06c;
    text-decoration: none;
}

a:hover {
    color: #111;
}

/* #content form {
    min-height: 92px;
    background-color: #F0F8DA;
    padding: 10px;
    border: 1px solid #BFCB9C;
    border-radius: 5px;
    -webkit-border-radius: 5px;
} */

ul {
    margin: 2px 0 5px 5px;
    padding-left: 12px;
}

li {
    list-style-type: square;
    margin: 2px 5px;
}

li a {
    padding: 3px 0;
}

input,
button,
textarea {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #8e996d;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

textarea {
    font-size: 1em;
    padding: 4px;
    margin: 2px 5px;
    width: 95%;
}

.clear {
    clear: both;
}
.img-height-150 {
    height: 150px !important;
}
.json-container {
    position: relative;
    width: 100%;
    max-height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    align-items: start;
}
.json-container .res-title {
    margin-bottom: 10px;
}
.sub-container {
    position: relative;
    height: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.msg-container {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.msg-container .msg {
    width: 40%;
    padding: 5px 20px;
    border-radius: 10px;
}
.msg-container .msg.valid {
    background: #34b129c9;
    border: 2px solid #31ad11;
}
.msg-container .msg.invalid {
    background: #f72d2dc9;
    border: 2px solid #ff0606;
}
.msg-container .msg.none {
    color: #111;
}
.res-container {
    position: relative;
    margin: 10px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.res-container .result-view {
    margin: 0 5px;
    height: auto;
    max-height: 260px;
    font-family: monospace;
    overflow: auto;
    white-space: pre-wrap;
    word-break: normal;
    text-align: left;
}
.pretifier-container {
    position: relative;
    width: 100%;
}
.pretifier-container .field-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 10px;
    margin: 10px 0;
}
.pretifier-container .field-content .temp-content {
    width: 30%;
}
.pretifier-container .field-content .temp-content .temp-select {
    width: 100%;
    padding: 2px 5px;
    border: 1px solid #0f8af9;
    border-radius: 5px;
    color: #0f8af9;
}
.pretifier-container .field-content .field-view {
    position: relative;
    text-align: left;
    width: 70%;
    margin: 5px 0;
}
.pretifier-container .field-content .field-view .controls {
    position: relative;
    display: flex;
    text-align: left;
    clear: both;
}
.pretifier-container .field-content .field-view .controls textarea {
    resize: vertical;
    height: 316px;
    min-height: 316px;
    overflow-y: scroll;
    border-radius: 5px;
    border-color: #555;
    transition: all 0.3s linear;
}
.pretifier-container .field-content .field-view .controls textarea:active,
.pretifier-container .field-content .field-view .controls textarea:focus,
.pretifier-container .field-content .field-view .controls textarea:visited {
    border-color: #0f8af9;
}
.pretifier-container .field-content .field-view .controls textarea::placeholder {
    color: #0f8af9;
}
.pretifier-container .field-content .field-view .controls .control-btns {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    bottom: 5px;
    right: 30px;
    transform: translateX(-50%);
}
.pretifier-container .field-content .field-view .controls .control-btns button {
    margin-top: 2px;
    padding: 2px 5px;
    border-radius: 5px;
    color: #0f8af9;
}
.result-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding: 5px 10px;
}
.result-container .result-view {
    border: 1px solid #0f8af9;
    border-radius: 5px;
    margin: 5px 10px;
    width: auto;
    max-width: 600px;
    height: auto;
    max-height: 320px;
    font-family: monospace;
    overflow: auto;
    white-space: pre-wrap;
    /* word-break: normal; */
    text-align: left;
}
.hidden {
    display: none;
}
